<h1>Data Security Guidelines</h1>

<br><h2>Legal Conditions</h2><br>

<p>
  The CiE Website uses the personal data, if student of the HM,
  from <a href="https://nine.wi.hm.edu/" target="_blank">NINE</a>.
  The data which is used, is once the data for the login process, with User-Email
  of the HM and the corresponding password and the profile information data of the
  student (Name and User ID of the NINE page). For full usage of the CiE App make
  sure you have an account.<br>
</p>

<br><h2>Tracking with Google Analytics</h2><br>

<p>
  The activity of each user of the CiE App will be
  tracked by Google Analytics. So if you don't want,
  that your activity will be tracked then make sure
  to deactivate this functionality to provide that.

  <br><br>
  <a href="javascript:gaOptout();" onclick="alert('Google Analytics deactivated');">
    Deactivate Google Analytics
  </a>
  <br><br>

  If you want to find out more about Google Analytics go and visit
  <a href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank">this</a>
  page for more detailed information.
</p>

<br><h2>Cookies</h2><br>

<p>
  On the CiE Website just the Google Analytics Cookie will be used to
  track your activity. If you don't want that the page tracks your
  activity you it can be deactivated by setting an Opt Out
  Cookie when clicking the Deactivation Link above.
</p>

<p><a routerLink="/">Back to Home</a></p>
