<!-- <p>
  security works!
</p> -->
  <h1>Datenschutzerklärung</h1>
  <p>Rechtliche Bedingungen </p><br>
  <p>Auf der Webseite der CiE App werden ausschließlich Daten
     von jedem User benutzt, die über einen NINE-Account verfügen
  </p><br>
  <p>Um einen NINE-Account anzulegen bitte den folgenden 
    <a href="https://nine.wi.hm.edu/">Link</a> klicken.
  </p>
  <p>Zudem werden die Aufzeichnungen der Webseite von 
     jedem Benutzer auf Google Analytics getrackt.
     Außerdem wird dort ein Live-Counter verwendet, 
     um die Anzahl der User zu sehen, die gerade auf 
     der Webseite online anzusehen. 
     Um diese Funktion abzuschalten bitte 
     <a href="www.google.analytics.de">hier</a>
     klicken.
  </p>
  <p>Cookies</p>
  <p>Auf der CiE Webseite werden keine Cookies verwendet, sondern ausschließlich Daten,
     die über den Studenten von Relevanz sind (Profil, User Name, etc.)
  </p>
  <!-- <app-navbar></app-navbar> -->

