<div class="page-header">
  <h1>Welcome to CiE</h1>
  <p>Hello {{username}}, how are you today?</p>
  <p>UserID: {{userId}}</p>

  <ul>
    <li>
      <span class="single-icon"><i class="fa fa-heart"></i></span><a routerLink="/favorites">My Favorites</a>
    </li>
    <li>
      <span class="single-icon"><i class="fa fa-pencil"></i></span><a routerLink="courses">Courses</a>
    </li>
    <li>
      <span class="single-icon"><i class="fa fa-calendar"></i></span><a routerLink="/schedule">Schedule</a>
    </li>
  </ul>

</div>

