/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 21px;

}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;


}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;

}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;

}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw rgba(247, 54, 54, 0.8), 0 0 0 100vh rgba(247, 54, 54, 0);
  border-radius: 0;
}

label input:checked + .menu .hamburger {

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

}

label input:checked + .menu .hamburger:before {

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

}

label input:checked + .menu + ul {
  opacity: 1;
}

label .menu {
  position: absolute;
  right: 25px;
  top: -100px;
  z-index: 100;
  width: 100px;
  height: 180px;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}

label .menu-bg {
  background: rgba(247, 54, 54, 0.8);
}

label .menu-bg .hamburger, label .menu-bg .hamburger:before, label .menu-bg .hamburger:after {
  background-color: #fff;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .25s 0s ease-in-out;
  margin: 25% 0;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #fffafa;
  text-decoration: none;
}

label a:hover {
  text-decoration: underline;
}

.nav-container__list {
  list-style: none;
  margin: 70px 0 0 0;
  padding: 0;
  text-align: center;

}

.nav-container__listitem {
  font-size: 2rem;
}
