<div class="nav-container"></div>
<label>

  <input type="checkbox" [(ngModel)]="menuCheckbox">
  <div class="menu" ngClass="{{ menuCheckbox ? 'menu-bg' : ''}}">
    <span class="hamburger"></span>
  </div>

  <ul *ngIf="menuCheckbox" class="nav-container__list" (click)="menuChanged()">
    <li class="nav-container__listitem">
      <a routerLink="/">
        <i class="fa fa-home"></i> Home
      </a>
    </li>
    <li class="nav-container__listitem">
      <a routerLink="/courses">
        <i class="fa fa-pencil"></i> Courses
      </a>
    </li>
    <li class="nav-container__listitem">
      <a routerLink="/favorites">
        <i class="fa fa-heart"></i> Favorites
      </a>
    </li>
    <li class="nav-container__listitem">
      <a routerLink="/locations">
        <i class="fa fa-map-marker"></i> Locations
      </a>
    </li>
    <li class="nav-container__listitem">
      <a routerLink="/schedule">
        <i class="fa fa-calendar"></i> Schedule
      </a>
    </li>
    <li class="nav-container__listitem">
      <a routerLink="/profile">
        <i class="fa fa-user-circle"></i> Profile
      </a>
    </li>
    <li class="nav-container__listitem">
      <a routerLink="/logout">
        <i class="fa fa-lock"></i> Logout
      </a>
  </ul>
</label>
