#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: rgba(0,0,0,0);
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
  color: white; /* White text color */
}

/* The about link: 20px from the top with a green background */
#courses {
  top: 20px;
  background-color: rgba(85, 85, 85, 0.98);
}

#favorites {
  top: 80px;
  background-color: #eb5757;
}

#locations {
  top: 140px;
  background-color: #eb5757;
}

#shedule {
  top: 200px;
  background-color: #eb5757
}

#contact {
  top: 260px;
  background-color: #eb5757
}

#profile {
  top: 320px;
  background-color: #eb5757
}

h1 {
  text-align: center;
}
