<!--Lothstraße -->
<div class="row single-map-element">
  <div class="col-md-12"><h1>Campus Lothstraße</h1></div>
  <div class="col-md-6">
    <agm-map class="width: 100%;" [zoom]="18" [latitude]="48.154896" [longitude]="11.555725">
      <agm-marker [latitude]="48.154896" [longitude]="11.555725"></agm-marker>
    </agm-map>
  </div>
  <div class="col-md-6">
    Road:
    Lothstraße 64

    Means of Transport:
    Tram 20, 21 and 22
  </div>
</div>


<div class="row single-map-element">
  <div class="col-md-12"><h1>Campus Karlsstraße</h1></div>
  <div class="col-md-6">
    <agm-map [zoom]="18" [latitude]="48.142937" [longitude]="11.568702">
      <agm-marker [latitude]="48.142937" [longitude]="11.568702"></agm-marker>
    </agm-map>
  </div>
  <div class="col-md-6">
    Road:
    Karlsstraße 6

    Means of Transport:
    Tram 20, 21 and 22
  </div>
</div>

<div class="row single-map-element">
  <div class="col-md-12"><h1>Campus Pasing</h1></div>
  <div class="col-md-6">
    <agm-map [zoom]="18" [latitude]="48.141572" [longitude]="11.451103">
      <agm-marker [latitude]="48.141572" [longitude]="11.451103"></agm-marker>
    </agm-map>
  </div>
  <div class="col-md-6">
    Road:
    Pasing

    Means of Transport:
    Tram 20, 21 and 22
  </div>
</div>






