<div class="page-header">
  <h1>Campus locations</h1>
</div>


<!--Lothstraße -->
<div class="row single-map-element">
  <div class="col-md-12"><h2>Campus Lothstraße</h2></div>
  <div class="col-md-4">
    <h3>Location:</h3>
    <p>Lothstraße 64</p>
    <p>Public transportation:<br />
      Tram 20, 21 and 22 <br /><br />
      Restaurants:<br />
      Chili Asia, Patatez<br />
    </p>
  </div>
  <div class="col-md-8">
    <agm-map [zoom]="18" [latitude]="48.154896" [longitude]="11.555725">
      <agm-marker [latitude]="48.154896" [longitude]="11.555725"></agm-marker>
    </agm-map>
  </div>
</div>


<div class="row single-map-element">
  <div class="col-md-12">
    <h2>Campus Karlsstraße</h2>
  </div>
  <div class="col-md-4">
    <h3>Location:</h3>
    <p>Karlsstraße 6</p>

    <p>Public transportation:<br />
      Tram 20, 21 and 22</p>
  </div>
  <div class="col-md-8">
    <agm-map [zoom]="18" [latitude]="48.142937" [longitude]="11.568702" [scrollwheel]="false">
      <agm-marker [latitude]="48.142937" [longitude]="11.568702"></agm-marker>
    </agm-map>
  </div>
</div>

<div class="row single-map-element">
  <div class="col-md-12">
    <h2>Campus Pasing</h2>
  </div>
  <div class="col-md-4">
    <h3>Location:</h3>
    <p>Pasing</p>

    <p>Public transportation:<br />
      Tram 20, 21 and 22</p>
  </div>
  <div class="col-md-8">
    <agm-map [zoom]="18" [latitude]="48.141572" [longitude]="11.451103">
      <agm-marker [latitude]="48.141572" [longitude]="11.451103"></agm-marker>
    </agm-map>
  </div>
</div>
<app-navbar></app-navbar>
