
<div class="page-header">
  <h1>Your favorites</h1>
</div>


<!-- <button (click)="getFaculty()">Get Departments</button> -->

<div class="page-content row">
  <div class="col-md-12">
    <div class="no-favs" *ngIf="favList.length <= 0">
      <p>Hey {{username}}, you don't have any favorites yet. <a routerLink="/courses">Add some now.</a> </p>
    </div>

    <div *ngFor="let fv of favList">

      <div class = "block">
        <div class="inner-block row">
          <div class="col-md-4">
            <em [routerLink]="['descriptions', fv.CourseId]">{{ fv.CourseName }}</em>
          </div>
          <div class="col-md-4">
            <em>{{ fv.CourseFaculty }}</em>
          </div>
          <div class="col-md-4">
            <button class=" btn btn-danger" (click)="rmFromFav(fv)"> <i class="fa fa-heart"></i> Delete</button>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>

<app-navbar></app-navbar>
