<div class="page-header">
  <h1>Courses</h1>
</div>

<!-- <button (click)="getFaculty()">Get Departments</button> -->

<div class="row course-elements">
  <div *ngIf="loading" class="loading-indicator-wrapper"><i class="fa fa-circle-o-notch fa-spin loading-indicator"></i></div>
  <div class="col-md-4 course-elements__wrapper" *ngFor="let cl of courseList">
<!--
    <app-description [myCourse]="cl">  </app-description> -->
    <!-- Hier Kurse filtern (Ampel) -->
    <div class="course-element" ngClass="{{cl.isCoterie == false && cl.hasHomeBias == false}}">
      <div class="course-elements__header" [routerLink]="['descriptions', cl.id]">{{ cl.name }}</div>
      <!-- <a> routerLink= "/descriptions"</a> -->
      <div class="course-elements__body">
        <button class="btn btn-danger btn-sm" (click)="addToFav(cl)" *ngIf="!cl.fav"> <i class="fa fa-heart"></i> </button>
        <span *ngIf="cl.fav"><a routerLink="/favorites">Show all Favorites</a> </span>

      </div>
    </div>



  </div>
</div>

