.block {
  margin: 8px 0;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255,0.6);
  color: black;
  word-wrap: break-word;
  zoom: 1.0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}


.course-elements__wrapper {
  width: 100%;
}

.course-element {
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  text-align: center;
  padding: 40px;
  margin: 20px 0px;
  border: 1px solid #aaa;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.course-element:hover {
  background-color: rgba(255,255,255,1);
  border: 1px dashed #aaa;
}

.course-elements__header {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.no-classes {
  background-color: #ccc;
  cursor: no-drop;
}

.loading-indicator-wrapper {
  width: 100%;
}

.loading-indicator {
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
