.login {
  width: 100%;
  text-align: center;
  border-radius: 50px;
  position: relative;
}

.login input {
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid rgba(0,0,0,0.5);
}

.login  span {
  margin-right: 20px;

}

.input-element {
  color: #fff;
  margin-bottom: 20px;
}

.btn {
  border: none;
  color: #fff;
  padding: 12px;
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn__login {
  text-align: center;
  background-color: #e16e77;
}

.btn__blue {
  text-align: center;
  background-color: #0009e1;
}

/* On mouse-over */
.btn:hover {
  background: #eee;
  color: #333;
}
.login {
  color: white;
}

.login-wrapper {
  max-width: 350px;
  margin: 120px auto;
}

.loading-indicator {
  font-size: 3rem;
  padding: 19px;
}
