<div class="login">
  <div class="login-wrapper">
    <div class="input-element">
      <span class="sr-only">Username</span> <input type="text" placeholder="Username" [(ngModel)]="username" (keyup)="checkLogin()">
    </div>
    <div class="input-element">
      <span class="sr-only">Password</span> <input type="password" placeholder="Password" [(ngModel)]="password" (keyup)="checkLogin()" />
    </div>
    <div>
      <div class="input-element" >
        <input class="btn btn__login" routerLink="/login/welcome" type="submit" value="Login" [disabled]="loginButtonState">
        <span class="help small" *ngIf="showHelp">Please enter credentials to activate login button.</span>
        <div>
          <span class="help small" (click)="toggleHelp()"><a href="javascript:void(0);">{{!showHelp?'Help':'Hide help'}}</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

