/* You can add global styles to this file, and also import other style files */

@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  background: url('assets/images/HM-Muenchen.jpg') no-repeat center fixed; /* background picture red square */
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h2 {
  color: rgba(247, 54, 54, 1);
  font-weight: bold;
}

a {
  color: rgba(247, 54, 54, 0.8);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: rgba(247, 54, 54, 1);
}

.sr-only {
  display: none;
}

.small {
  font-size: 85%;
}

.page-header {
  margin: 15px 10px 30px 0;
}
